* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  font-family: "Rock Salt", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
}

.game-clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}

.game-clock-title {
  display: flex;
}
.clock {
  display: flex;
  margin-top: -15px;
}
.player-title {
}

main {
}

.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.current-player {
}

button {
  width: 100px;
  margin-top: 10px;
}
