body {
  height: 100vh;
  font-family: "Rock Salt", cursive;
  background-color: #6290c3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2e7da;
  color: #f1ffe7;
  text-shadow: 1px 1px 2px #1a1b41;
}

h1 {
  padding-left: 50px;
}

.game-clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  font-family: "DotGothic16", sans-serif;
  font-size: 20px;
}

.game-clock-title {
  display: flex;
}
.clock {
  display: flex;
  color: #1a1b41;
  text-shadow: 1px 1px 4px #f1ffe7;
}
.player-title {
  display: flex;
  padding-right: 50px;
}

main {
  margin-top: 20px;
}

.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #1a1b41;
  border-bottom: 2px solid #1a1b41;
  height: 100px;
  width: 100px;
}

.cell:hover {
  background-color: #c2e7da;
}

.cell:nth-child(3n) {
  border-right: none;
}

#box-7,
#box-8,
#box-9 {
  border-bottom: none;
}

.player-1,
.player-2 {
  font-size: 20px;
  color: #f1ffe7;
  text-shadow: 1px 1px 2px #1a1b41;
}

button {
  width: 12%;
  padding: 10px;
  font-family: "DotGothic16", sans-serif;
  background-color: #f1ffe7;
  color: #1a1b41;
  border: none;
  box-shadow: 10px 5px 5px #1a1b41;
}

.start-btn {
  margin-top: 20px;
}

.reset-btn {
  margin-top: 10px;
}

.start-btn:hover,
.reset-btn:hover {
  background-color: #c2e7da;
}
